:root {
    --Text-color-Main: #F0F0F0;
    --Dark-gray: #5C5A5B;
    --Secondary-gray: #686868;
    --Light-gray: #afaeae;
    --White: #ffffff;
    --Dark-purple: #552b69;
    --Light-purple: #825f92;
    /* --General-Blue: #10367C;
    --Accent-Blue: #3077c6;
    --Accent-Yellow: #F5BD41;
    --Dark-Mode-1: #121212;
    --Dark-Mode-2: #1D1E1F;
    --Dark-Mode-3: #4D4D4D;
    --Stroke-color-Main: #F3F3F4;
    --Text-color-Main: #383838;
    --General-White: #FFFFFF;
    --Secondary-Text: #BFBFBF;
    --bg-color-Main: #EAF0F9; */
}

a {
    text-decoration: none;
}

a:link {
    color: var(--Text-color-Main);
}

a:after {
    display: block;
    position: relative;
    top: -3px;
    right: calc((100% - (100% - 10px)) / -2);
    background-color: var(--Dark-purple);
    width: 0;
    height: 3px;
    content: "";
    transition: width 0.2s ease-out;
}

a:visited {
    color: var(--Text-color-Main);
}


/* a:hover {
    color: #154088;
} */

a:hover:after {
    width: calc(100% - 10px);
}

a:focus:after {
    width: calc(100% - 10px);
}


/* a:active {
    color: #497DDD;
} */

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hallway-background {
    max-width: 1500px;
    background-color: var(--Dark-gray);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.hallway-info {
    color: var(--Text-color-Main);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 180px;
    padding: 0 20px 0;
}

.hallway-text {
    font-weight: 500;
}

.hallway-header {
    font-size: 50px;
}

.hallway-image {
    height: 900px;
    width: 900px;
    object-fit: cover;
}

.offer-background {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.title {
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    background-color: var(--White);
    color: #3f3e3f;
    margin-bottom: 50px;
}

.offer-container {
    max-width: 1400px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
}

.offer-cart {
    height: 200px;
    width: 500px;
    margin: 0 25px;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: flex-start;
}

.offer-image {
    height: 200px;
    width: 160px;
    object-fit: cover;
}

.textMain {
    margin: 20px 20px 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Text-color-Main);
    font-size: 20px;
    font-weight: 600;
}

.textSec {
    margin: 20px 20px 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0F0F0;
    font-size: 15px;
}

.priсe-background {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    background-color: var(--White);
}

.priсe-container {
    margin: 50;
    display: flex;
    justify-content: center;
    margin: 50px 50px 0;
}

.price-cart {
    width: 270px;
    height: 500px;
    background-color: var(--Secondary-gray);
    margin: 0 25px 0;
}

.price-image {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.price-textTitle {
    text-align: center
}

.price-flexContainer {
    display: flex;
    justify-content: center;
}

.application-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.application-form {
    width: 100%;
}

.application-inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--Light-gray);
    padding-top: 50px;
}

.application-input {
    display: block;
    width: 30%;
    height: 50px;
    background-color: #d1d1d1;
    border: 1px solid var(--Light-purple);
    padding: 0 20px;
    border-radius: 8px;
}

.application-inputUserName {
    margin-bottom: 30px;
}

.application-inputPhoneNumber {
    margin-bottom: 50px;
}

.footer-background {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    background-color: var(--Dark-gray);
    margin: 120px auto 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Text-color-Main);
}

.footer-flexContainer {
    margin: 50px 100px 100px;
}

.footer-flexContainer-sec {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.footer-title {
    font-size: 25px;
}

.footer-links {
    /* display: block; */
    font-size: 15px;
    line-height: 2;
}