{% extends 'dashbrd.html' %}
{% block body %}
<div>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Редактирование</h1>        
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashbrd_product">Продукт</a></li>
            <li class="breadcrumb-item active">Цены</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
        
            </div>
        </div>

        <div class="item-options">
            <ul style="list-style-type: none">
                <li style="   display: inline;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Добавить</button></li>
                <li style="   display: inline;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">Изменить</button></li>                
                <li style="   display: inline;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RemoveModal">Удалить</button></li>                
                
            </ul>
        </div>
        
        <!-- The Modal -->
        <div class="modal fade" id="AddModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Добавить</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method='POST' action='/add_new_coast_item' enctype="multipart/form-data">            
                            <h1>Размер и цена продукта</h1>
                            <p>
                                Выберите из списка наименование продукта и используйте форму ниже для добавления размера и цены продукта
                            </p>
                            <label for="add_item">Наименование:</label><br>
                            <input name="item_name" list="browsers" >
                            <datalist id="browsers" >
                              {% for item in list_pricing_item_layer %}
                              <option  name="item_name" value="{{item.id}}">{{item.id}} {{item.name}}</option>
                              <!--<input type="text" name="item_id" value="{{item.id}}">-->              
                              {% endfor %}
                            </datalist>
                            <br>
                            <label for="size">Размер:</label><br>
                            <input type="text" id="size" name="new_item_size_one"><br>
                            <label for="coast">Цена:</label><br>
                            <input type="text" id="coast" name="new_item_coast_one"><br>
                            <br>
                            <input type="submit" name="add_new_item" value="Добавить">
                            <input type="reset">
                          </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Изменить</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method='POST' action='/edit_new_coast_item' enctype="multipart/form-data">            
                            <h1>Размер и цена продукта</h1>
                            <p>
                                Введите id где необходимо измнить размер или цену и заполните все поля в форме ниже
                            </p>
                            <label for="edit_id">#id:</label><br>
                            <input name="edit_id" type="text">                            
                            <br>
                            <label for="size">Размер:</label><br>
                            <input type="text" id="size" name="new_item_size_one"><br>
                            <label for="coast">Цена:</label><br>
                            <input type="text" id="coast" name="new_item_coast_one"><br>
                            <br>
                            <input type="submit" name="edit_old_item" value="Изменить">
                            <input type="reset">
                          </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RemoveModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Удалить</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method='POST' action='/remove_new_coast_item' enctype="multipart/form-data">            
                            <h1>Размер и цена продукта</h1>
                            <p>
                                Введите id где необходимо удалить размер и цену
                            </p>
                            <label for="remove_id">#id:</label><br>
                            <input name="remove_id" type="text">                                                                                    
                            <input type="submit" name="remove_old_item" value="Удалить">
                            <input type="reset">
                          </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Описание
            </div>
            <div class="card-body">
                <table style="width: 100%; background-color:rgba(0, 255, 255, 0)" id="">
                    <thead style="border: 1px solid rgba(128, 128, 128, 0.548);">
                        <tr>
                            <th style="padding:5px;">#id</th>
                            <th>Name</th>
                            <th>Definitions</th>
                        </tr>
                    </thead>
                    </tfoot>
                    <tbody style="border-top: 2px solid rgb(14, 13, 13);">
                        {% for item in list_pricing_item_layer %}
                        <tr style="border: 1px solid rgba(128, 128, 128, 0.555);">
                            <td style="padding:5px;">{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.desc}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Прайс
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>#id</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Coast</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#id</th>
                            <th>Name</th>
                            <th>Definitions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in list_pricing_item %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.size}}</td>
                            <td>{{item.coast}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{%endblock%}