{% extends 'dashbrd.html' %}
{% block body %}
<div>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Наше Предложение</h1>        
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information
                about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>

        <div class="item-options">
            <ul>
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Добавить</button></li>
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">Изменить</button></li>                
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RemoveModal">Удалить</button></li>                
            </ul>
        </div>
        
        <!-- The Modal -->
        <div class="modal fade" id="AddModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Добавить</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method='POST' action='/add_new_article' enctype="multipart/form-data">
                            <h1>Описание продукта</h1>                            
                            <input type="file" name="File" />
                            <br><br>                         
                            <label for="new_offer_header">Заголовок:</label><br>
                            <input style="width: 350px;" type="text" id="new_offer_header" name="new_offer_header"><br>

                            <div style="border-radius: 0.5rem; margin-top: 40px">
                                <label for="new_offer_article">Описание</label>
                                <textarea style="border-radius: 0.5rem; width: 100%; height: 150px"
                                    id="new_offer_article" name="new_offer_article"
                                    placeholder="Write something.."></textarea>
                            </div>
                            <input type="submit" name="add_article" value="Добавить">
                            <input type="reset">                                                    
                          </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Изменить</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method='POST' action='/edit_article' enctype="multipart/form-data">            
                            <h1>Наше Предложение</h1>
                            <label for="edit_id">#id:</label><br>
                            <input name="edit_id" type="text">                            
                            <br>
                            <label for="size">Заголовок:</label><br>
                            <input type="text" id="size" name="new_item_size_one"><br>
                            <div style="border-radius: 0.5rem; margin-top: 40px">
                                <label for="new_offer_desc">Описание</label>
                                <textarea style="border-radius: 0.5rem; width: 100%; height: 150px"
                                    id="new_offer_desc" name="new_offer_desc"
                                    placeholder="Write something.."></textarea>
                            </div>                            
                            <input type="submit" name="edit_old_item" value="Изменить">
                            <input type="reset">
                          </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RemoveModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Удалить</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method='POST' action='/remove_article' enctype="multipart/form-data">            
                            <h1>Наше Предложение</h1>
                            <label for="remove_id">#id:</label><br>
                            <input name="remove_id" type="text">                                                                                    
                            <input type="submit" name="remove_old_item" value="Удалить">
                            <input type="reset">
                          </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Наше Предложение
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>#id</th>
                            <th>date</th>                            
                            <th>Header</th>
                            <th>Article</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#id</th>
                            <th>date</th>                            
                            <th>Header</th>
                            <th>Article</th>
                            <th>Image</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in list_article %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.date}}</td>                            
                            <td>{{item.header}}</td>
                            <td>{{item.article}}</td>
                            <td><img style="width: 140px" src="{{item.image}}"></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{%endblock%}