{% extends 'base.html' %}
{% block body %}
<section class="navigation" id="navigationMenu">

    <a class="navigation-links" href="#ourOffers">наши предложения</a>
    <a class="navigation-links" href="#ourPriсes">цены</a>
    <a class="navigation-links" href="#ourGallery">галерея</a>
    <a class="navigation-links" href="#ourApplication">заказать</a>
    <a class="navigation-links" href="#ourContacts">контакты</a>
    <a class="navigation-links" href="/dashbrd_main">admin</a>
    <!-- <a class="navigation-links " href=" "></a> -->
</section>
<section class="hallway-background">
    <div class="hallway-info">
        <h1 class="hallway-header">SPORTLOGO<br>Эмблемы и вывески</h1>
        <p class="hallway-text">Хотите приобрести эмблему любимой команды, украсить свое заведение яркой вывеской или же
            просто обзавестись прекрасным сувениром?<br>Добро пожаловать!</p>
    </div>
    <img class="hallway-image" src="static/images/headerPlug.jpeg" alt="Barcelona football club logo">
</section>

<section class="offer-background" id="ourOffers">

    <span class="title">Что мы предлагаем</span>
    <!--
    <div class="offer-container">
        <div class="offer-cart">
            <img class="offer-image" src="static/images/chelseaLogo.png" alt="Chelsea football club logo">

            <div>
                <span class="textMain">Эмблема спортивного клуба</span>
                <span class="textSec">Изготовим эмблему любого спортивного клуба. Наши эмблемы будут радовать вас долгое
                    время!</span>
            </div>

        </div>
        <div class="offer-cart">
            <img class="offer-image" src="static/images/zatychka1.png" alt="souvenir player jersey">

            <div>
                <span class="textMain">Сувенир в виде футболки</span>
                <span class="textSec">Футболка с вашей фамилией, либо же футболка любимого игрока!</span>
            </div>

        </div>
    </div>

    <div class="offer-container">
        <div class="offer-cart">
            <img class="offer-image" src="static/images/zatychka2.png" alt="Souvenir Player Caricature">

            <div>
                <span class="textMain">Карикатура игрока</span>
                <span class="textSec">Оригинальный спортивный сувенир не останется незамеченным!</span>
            </div>
        </div>

        <div class="offer-cart">
            <img class="offer-image" src="static/images/zatychka3.png" alt="Signboard for establishments">

            <div>
                <span class="textMain">Вывески для заведений</span>
                <span class="textSec">Обратите внимание на свое заведение яркой и заметной вывеской!</span>
            </div>
        </div>
    </div>
-->
    {% for article in list_article %}
    <div class="offer-container">
        <div class="offer-cart">
            <img class="offer-image" src="{{article.image}}" alt="Signboard for establishments">

            <div>
                <span class="textMain">{{article.header}}</span>
                <span class="textSec">{{article.article}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<section class="priсe-background" id="ourPriсes">
    <span class="title">Наши цены</span>

    <div class="priсe-container">
        {% for header in list_pricing_item_layer %}
        <div class="price-cart">

            <img class="price-image" src="{{header.img}}" alt="img">

            <span class="textMain price-textTitle">{{header.name}}</span>
            {% for desc in list_pricing_item %}
            {% if desc.id_layer==header.id %}
            <div class="price-flexContainer">
                <div class="priсe-sizeContainer">
                    <span class="textSec">{{desc.size}}</span>
                </div>

                <div class="priсe-correspPriceContainer">
                    <span class="textSec">{{desc.coast}}</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</section>

<section class="gallery-background" id="ourGallery">
    <span class="title">Галерея</span>
    
    <div class="gallery-slider">        
        {% for ourwork in list_ourwork %}
        <div class="gallery-sliderItem">
            <img alt="{{ourwork.header}}{{ourwork.article}}" class="gallery-img" src="{{ourwork.image}}">  
                
        </div>
                
        <!--
        <div class="gallery-sliderItem">
            <div class="gallery-img" style="height: 700px; width: 100%; background-image: url({{ourwork.image}});">
                <div style="position: absolute;
            right: 100px;
            bottom: 50px;
            width: 40%;
            border: 0px solid #73ad21;
            padding: 10px;            
            background-color: rgba(0, 0, 0, 0.397);
            color:antiquewhite;
            ">
                    <h2>{{ourwork.header}}</h2>
                    <p>{{ourwork.article}}</p>
                </div>
            </div>
        </div>
        -->        
        <!--        
        
        <div class="gallery-sliderItem" style="background-image: url('https://tproger.ru/s3/uploads/2020/07/field.jpg');">

            <img class="gallery-img" src="{{ourwork.image}}">
        </div>

        <div class="gallery-sliderItem">
            <img class="gallery-img" src="{{ourwork.image}}">
        </div>


        <div class="gallery-sliderItem">
            <img class="gallery-img" src="{{ourwork.image}}">
        </div>

        <div class="gallery-sliderItem">
            <img class="gallery-img" src="">
        </div>
        -->
        <div class="gallery-switchSlide">
            <a class="prev" onclick="prevSlide()">&#10094;</a>
            <a class="next" onclick="nextSlide()">&#10095;</a>
        </div>
        {% endfor %}
    </div>
    
</section>

<sektion class="application-background" id="ourApplication">
    <form method='POST' action='/short_order' enctype="multipart/form-data">
        <span class="title">Оставтье заявку и мы вам перезвоним</span>
        <div class="application-inputsContainer">
            <label class="form-label" for="form6Example3"><strong>Загрузите образец</strong></label>
            <input type="file" name="File" aria-label="Upload" />
            <textarea style="height:200px; width: 70%" class="application-input" class="form-control" name="message"
                placeholder="Описание заказа .." id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7"><strong>Контакты</strong></label>
            <input style="width: 70%" class="application-input " type="text" id="userName" name="customer"
                placeholder="Ваше имя">
            <input style="width: 70%" class="application-input" type="text" id="phone" name="phone"
                placeholder="Ваш номер телефона">
            <input style="width: 70%" class="application-input" type="email" id="email" name="email"
                placeholder="Email">
            <div>
                <label style="margin-top: 20px"><strong>Удобный способ связи</strong></label>
                <br>
                <input type="radio" id="communications" name="communications" value="WhatsApp">
                <label for="communications">WhatsApp</label><br>
                <input type="radio" id="communications" name="communications" value="Telegramm">
                <label for="communications">Telegramm</label><br>
                <input type="radio" id="communications" name="communications" value="Viber">
                <label for="communications">Viber</label><br>
                <input type="radio" id="communications" name="communications" value="email">
                <label for="communications">Email</label>
                <br>
            </div>
            <button style="margin-top: 20px; width: 90%" class="btn btn-outline-light btn-lg px-5"
                type="submit">Заказать</button>
        </div>
    </form>
</sektion>

<sektion class="application-background" id="ourContacts">
    <form method='POST' action='/feedback'>
        <span class="title">Оставтье нам своё ообщение</span>
        <div class="application-inputsContainer">
            <label for="name">Ваше имя</label>
            <input style="width: 80%" class="application-input" type="text" id="name" name="name"
                placeholder="Ваше имя..">
            <label for="email">Email</label>
            <input style="width: 80%" class="application-input" type="email" id="email" name="email"
                placeholder="Email">
            <label for="subject">Сообщение</label>
            <textarea style="height:300px; width: 80%" class="application-input" id="subject" name="subject"
                placeholder="Write something.." style="height:200px"></textarea>
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
</sektion>

<section class="contacts-background">
    <div class="contacts-flexContainer">
        <div class="contacts-container">
            <svg class="contacts-icon">
                <a href="https://t.me/">
                    <use href="#telegram_logo"></use>
                </a>
            </svg>

            <svg class="contacts-icon">
                <a href="https://www.instagram.com/sport_logo_minsk/?utm_medium=copy_link">
                    <use href="#instagram_logo"></use>
                </a>
            </svg>

            <svg class="contacts-icon">
                <a href="https://vk.com">
                    <use href="#vk_logo "></use>
                </a>
            </svg>

            <svg class="contacts-icon">
                <a href="tel:+375292821686">
                    <use href="#phone_logo"></use>
                </a>
            </svg>
        </div>

        <div class="contacts-linksContainer">
            <a class="contacts-link" href="https://t.me/">Telegram</a>
            <a class="contacts-link"
                href="https://www.instagram.com/sport_logo_minsk/?utm_medium=copy_link">Instagram</a>
            <a class="contacts-link" href="https://vk.com">VK</a>
            <a class="contacts-link" href="tel:+375292821686">+375 29 282 1686</a>
        </div>
    </div>
</section>
</section>
<section class="reviews-background"></section>

<footer class="footer-background">
    <div class="footer-flexContainer">
        <span class="footer-title">SportLogo.by</span>
    </div>

    <div class="footer-flexContainer footer-flexContainer-sec">
        <a class="footer-links" href="https://t.me/">Telegram</a>

        <a class="footer-links" href="https://www.instagram.com/sport_logo_minsk/?utm_medium=copy_link">Instagram</a>

        <span class="footer-links">+375 29 282 1686</span>


        <!-- <a class="footer-links">@mail.com</a> -->
    </div>
</footer>
{% endblock %}